@{Html.BeginForm("ProcessLogin", "User", FormMethod.Post, new { @class = "w3-container w3-card-4" });}

    <p>
        <label>Name</label>
        <input class="w3-input" type="text" style="width:90%" required>
    </p>
    <p>
        <label>Password</label>
        <input class="w3-input" type="password" style="width:90%" required>
    </p>

    <p>
        <button class="w3-button w3-section w3-teal w3-ripple"> Login </button>
        <button type="button" class="w3-button w3-section w3-teal w3-ripple"> Reset </button>
    </p>
@{Html.EndForm();}
