<form class="w3-container w3-card-4">

    <p>
        <input class="w3-input" type="text" style="width:90%" required>
        <label>User name</label>
    </p>

    <p>
        <input class="w3-input" type="password" style="width:90%" required>
        <label>Password</label>
    </p>
    <p>
        <input class="w3-input" type="password" style="width:90%" required>
        <label>Comfirm password</label>
    </p>
    <p>
        <input class="w3-input" type="text" style="width:90%" required>
        <label>Email</label>
    </p>
    <p>
        <input class="w3-input" type="text" style="width:90%" required>
        <label>Phone</label>
    </p>
    <p>
        <input class="w3-input" type="text" style="width:90%" required>
        <label>Address</label>
    </p>

    <input class="w3-radio" type="radio" name="gender" value="male" checked>
    <label>Male</label>

    <input class="w3-radio" type="radio" name="gender" value="female">
    <label>Female</label>

    <input class="w3-radio" type="radio" name="gender" value="" disabled>
    <label>Other</label>

    <input class="w3-check" type="checkbox" checked="checked">
    <label>Milk</label>

    <input class="w3-check" type="checkbox">
    <label>Sugar</label>

    <p>
        <button class="w3-button w3-section w3-teal w3-ripple"> Log in </button>
    </p>

</form>